@import "~bootstrap";
@import "../../node_modules/datatables/media/css/jquery.dataTables.min.css";
@import "../../node_modules/select2/dist/css/select2.min.css";
@import "elements/sidebar";

body {
    overflow: hidden;
    font-family: "Ubuntu", sans-serif;
    #content-wrap {
        display: flex;
        flex-flow: row nowrap;
        #content {
            padding: 30px;
            max-height: 100vh;
            overflow-y: scroll;
            width: 100%;
        }
    }
}

.form-control {
    margin: 7px 0px 15px;
}

input,
textarea,
select {
    &:not([type="checkbox"]) {
        @extend .form-control;
    }
}

select.form-control {
    appearance: auto;
}

#notifications {
    position: fixed;
    top: 30px;
    right: 40px;
    z-index: 9999;
    > div {
        max-width: calc(50vw - 30px);
        width: fit-content;
        float: right;
        clear: both;
    }
}

#notifications .alert {
    animation: 0.3s slideInTop;
}

@keyframes slideInTop {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.copy-on-click {
    cursor: pointer;
    padding-left: 20px;
    position: relative;
    &::after {
        position: absolute;
        left: 0px;
        top: 50%;
        transform: translateY(-50%);
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='black' class='bi bi-clipboard-plus' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8 7a.5.5 0 0 1 .5.5V9H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V10H6a.5.5 0 0 1 0-1h1.5V7.5A.5.5 0 0 1 8 7z'/%3E%3Cpath d='M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z'/%3E%3Cpath d='M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z'/%3E%3C/svg%3E");
        background-size: 16px 16px;
        background-position: center;
        background-repeat: no-repeat;
        width: 16px;
        height: 16px;
    }
    &:hover {
        .value {
            cursor: pointer;
            text-decoration: underline;
        }
    }
}

.server-infos {
    padding: 15px 30px;
    background: black;
    border-radius: 10px;
    color: white;
    width: fit-content;
    max-width: 100%;
    h1 {
        background: rgba(255, 255, 255, 0.1);
        margin: -15px -30px 15px -30px;
        padding: 10px 30px;
        font-size: 20px;
        a {
            margin-left: 15px;
            &:first-child {
                margin-left: 30px;
            }
        }
    }
    #cursor {
        animation: 1s infinite cursor reverse;
    }
    .copy-on-click {
        &::after {
            content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-clipboard-plus' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8 7a.5.5 0 0 1 .5.5V9H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V10H6a.5.5 0 0 1 0-1h1.5V7.5A.5.5 0 0 1 8 7z'/%3E%3Cpath d='M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z'/%3E%3Cpath d='M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z'/%3E%3C/svg%3E");
        }
    }
}

@keyframes cursor {
    40% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
}

.center-y {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    margin-bottom: 25px;
}

.password {
    padding: 5px 20px;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(3px);
        border-radius: 3px;
        transition: 0.15s;
        background: rgba(0, 0, 0, 0.2);
    }

    &:hover {
        &::after {
            backdrop-filter: blur(0px);
            background: rgba(0, 0, 0, 0);
        }
    }
}